{% extends 'cadastro/base.html' %}


{% block body %}



<form class="form-signin" role="form" action="{% url 'registrar_inscricao' %}" method="post">

    {% csrf_token %}

    <h3 class="form-signin-heading">Documentação</h3>



    <h3 class="form-signin-heading">Documentação</h3>


  <label for="id_doc_pessoal"> Documentação pessoal :</label>


    <input type="file" id="id_doc_pessoal" name="doc_pessoal" class="custom-file-input" accept="png, jpeg, *, pdf">

    <p><p/>
     <label for="id_doc_titulo"> Documentação de título :</label>
    <input type="file" id="id_doc_titulo" name="doc_titulo" class="custom-file-input" accept="png, jpeg, *, pdf">

    <p><p/>
    <label for="id_doc_escolar"> Documentação escolar :</label>
    <input type="file" id="id_doc_escolar" name="doc_escolar" class="custom-file-input" accept="png, jpeg, *, pdf">
    <hr/>



    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
        Registrar
    </button>



    {% if form.errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{form.non_field_errors}}
        </div>
    {% endif %}

</form>

{% endblock %}
