<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>EGE-inscrição</title>
</head>
<body>

{% block content %}
    <h1>Nova inscrição</h1>
    <form method="POST" class="inscricao">

         {% csrf_token %}
        <h2>Informações pessoais</h2>
         {{ form1.as_p }}

        <button type="submit" class="save btn btn-default">Salvar</button>

    </form>

{% endblock %}

</body>
</html>