{% extends 'inscricao/base.html' %}

<h1>Deu certo</h1>

{% block body %}
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Todos os Cadastros</strong>
		</div>

		{% if inscricao %}
			<ul>
				{% for candidato in inscricao %}
					<li>
						<a>{{ candidato.nome_civil }}</a> / {{ candidato.email }} /
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>Nenhum candidato encontrado</p>
		{% endif %}

		<div class="panel-heading">
			<strong>Todos os Documentos</strong>
		</div>


		{% if documento %}

			<ul>
				{% for doc in documento %}
					<li>
						<a>{{ doc.titulo }}</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>Nenhum candidato encontrado</p>
		{% endif %}
    </div>
</div>

{% endblock %}